<div class = "container">
  <div class = "content">
    <div class = "section">
      <!--<h1 class = "heading"><span class="fa fa-pencil"> <span class="title">Activities</span></span></h1>-->
      <div class = "L-four T-six S-tewelve">
        <div class = "box">
          <h2>Schedule</h2>
          <p><img src="assets/schedule.png"></p>
          <ul>
            <li>勉強会</li>
              <p>特定の領域に精通された方々をお招きし､週に1度勉強会を行っています｡TNKの勉強会には個人では直接会うことが難しい方も来て下さります｡これらの勉強会に参加することで他では得られない最先端の情報を得ることが出来ます｡</p>
            <li>五月祭</li>
              <p>東京大学本郷キャンパスで行われる五月祭にTNKも出店します。2017年度はMayFesAwards1位(五月祭飲食部門)に輝きました。</p>
            <li>ビジネスコンテスト</li>
            <p>内部でビジネスコンテストを開催しています｡発表会直前の合宿では強烈な負荷の下、知的生産性､リーダーシップ、チームワーク等あらゆる力が試されます。このコンテストに参加することで体系的に事業創造スキルを身に着けることが出来ます｡</P>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
