<div class = "container">
  <div class = "content">
    <div class = "section">
      <!--<h1 class = "heading"><span class="fa fa-paper-plane-o"> <span class="title">Contact</span></span></h1>-->
      <div class = "L-four T-six S-tewelve">
        <div class = "box">
          <h2>Information</h2>
          <p>次期採用は2018年4月を予定していますが､弊団体の勉強会の見学者を募集しております｡弊団体へご興味をお持ちの方は､下記ボタンからお問い合わせ下さい｡</p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScn6xVVjAOWe6i2GHWK4lTIvymX90YhVPBkqZ2B2IJScMfp8A/viewform" target="_blank" class="btn">お問い合わせ</a>
        </div>
      </div>
    </div>
  </div>
</div>
