<div class = "container">
  <div class = "content">
    <div class = "section">
      <!--<h1 class = "heading"><span class="fa fa-users"> <span class="title">About</span></span></h1>-->
      <div class = "L-four T-six S-tewelve">
        <div class = "box">
          <h2>About</h2>
          <ul>
            <li>日本の未来を担う起業家集団</li>
            <p>私たちは東京大学の起業サークルです。所属しているメンバーの多くは起業家を目指していて、起業家になるべく行動しています。東大を始め早慶や様々な大学から起業で世界にインパクトを与えたい学生が集まります。</p>
            <li>TNKマフィアの輩出</li>
            <p>「ペイパルマフィア」とはペイパルという起業から輩出された人材の集団を指します。メンバーには、テスラ・モーターズやSpaceXを立ち上げたイーロン・マスク、Linkdinを創業したリード・ホフマン、youtubeの創業メンバーであるチャド・ハリーなど新たな当たり前を創り続けている人々がいます。これに倣いTNK一人一人が「新たな当たり前」を創るものになり「TNKマフィア」を輩出することを目指しています。</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
